<?php ?>
<footer id="footer" class="color-bg">
<div class="link-list-row">
        <div class="container no-padding">
            <div class="col-xs-12 col-md-4 ">
                <!-- ============================================================= CONTACT INFO ============================================================= -->
                <div class="contact-info">
                    <div class="footer-logo">
                    </div><!-- /.footer-logo -->

                    <p class="regular-bold"> Feel free to contact us via phone,email or just send us mail.</p>

                    <p>
17 Princess Road, London, Greater London NW1 8JR, UK
                        1-888-8MEDIA (1-888-892-9953)
</p>

                    <div class="social-icons">
                        <h3>Get in touch</h3>
                        <ul>
                            <li><a href="http://facebook.com/transvelo" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-pinterest"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="#" class="fa fa-stumbleupon"></a></li>
                            <li><a href="#" class="fa fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-vk"></a></li>
                        </ul>
                    </div><!-- /.social-icons -->

                </div>
                <!-- ============================================================= CONTACT INFO : END ============================================================= -->            </div>

            <div class="col-xs-12 col-md-8 no-margin">
                <!-- ============================================================= LINKS FOOTER ============================================================= -->
                <div class="link-widget">
                    <div class="widget">
                        <h3>Find it fast</h3>
                        <ul>
                            <li><a href="products/">laptops &amp; computers</a></li>
                            <li><a href="products/">Cameras &amp; Photography</a></li>
                            <li><a href="products/">Smart Phones &amp; Tablets</a></li>
                            <li><a href="products/">Video Games &amp; Consoles</a></li>
                            <li><a href="products/">TV &amp; Audio</a></li>
                            <li><a href="products/">Gadgets</a></li>
                            <li><a href="products/">Car Electronic &amp; GPS</a></li>
                            <li><a href="products/">Accesories</a></li>
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->

                <div class="link-widget">
                    <div class="widget">
                        <h3>Information</h3>
                        <ul>
                            <li><a href="products/">Find a Store</a></li>
                            <li><a href="products/">About Us</a></li>
                            <li><a href="products/">Contact Us</a></li>
                            <li><a href="products/">Weekly Deals</a></li>
                            <li><a href="products/">Gift Cards</a></li>
                            <li><a href="products/">Recycling Program</a></li>
                            <li><a href="products/">Community</a></li>
                            <li><a href="products/">Careers</a></li>

                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->

                <div class="link-widget">
                    <div class="widget">
                        <h3>Information</h3>
                        <ul>
                            <li><a href="products/">My Account</a></li>
                            <li><a href="products/">Order Tracking</a></li>
                            <li><a href="products/">Wish List</a></li>
                            <li><a href="products/">Customer Service</a></li>
                            <li><a href="products/">Returns / Exchange</a></li>
                            <li><a href="products/">FAQs</a></li>
                            <li><a href="products/">Product Support</a></li>
                            <li><a href="products/">Extended Service Plans</a></li>
                        </ul>
                    </div><!-- /.widget -->
                </div><!-- /.link-widget -->
                <!-- ============================================================= LINKS FOOTER : END ============================================================= -->            </div>
        </div><!-- /.container -->
    </div><!-- /.link-list-row -->

    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="copyright">
                    &copy; <a href="index.html">Media Center</a> - all rights reserved
</div><!-- /.copyright -->
            </div>
            <div class="col-xs-12 col-sm-6 no-margin">
                <div class="payment-methods ">
                    <ul>
                        <li><img alt="" src="assets/images/payments/payment-visa.png"></li>
                        <li><img alt="" src="assets/images/payments/payment-master.png"></li>
                        <li><img alt="" src="assets/images/payments/payment-paypal.png"></li>
                        <li><img alt="" src="assets/images/payments/payment-skrill.png"></li>
                    </ul>
                </div><!-- /.payment-methods -->
            </div>
        </div><!-- /.container -->
    </div><!-- /.copyright-bar -->

</footer><!-- /#footer -->
